<?js this.nav.topLevelNav.forEach(function(entry){ ?>
	<ul class="dropdown-menu" style="display: none">
		<?js entry.members.forEach(function(member){ ?><li><?js= member ?></li><?js	}); ?>
	</ul>
<?js }); ?>

<?js= content ?>